<div class="container">
    <div class="todo-app">
        <h2>
            To-Do-List 
            <img src="/assets/images/icon.png">
        </h2>
        <div class="row">
            <input type="text" id="input-box" placeholder="Add your text" >
            <button (click)="addTask()">Add Task</button>
        </div>
        <ul id="list-container">
            <!-- <li class="checked">Task 1</li>
            <li class="checked">Task 2</li>
            <li class="checked">Task 3</li> -->
        </ul>
    </div>
</div>